<div class="row">
  <div
    class="col-xs-12 col-md-8 col-md-offset-2"
    style="border: 1px solid #333; margin-bottom: 10px; border-radius: 5px;padding: 10px;"
  >
    <h5>{{ name }}</h5>
    <hr />
    <p>This Account is {{ status }}</p>
    <button class="btn btn-default" (click)="statusChange('active')">Set to 'Active</button>
    <button class="btn btn-default" (click)="statusChange('Inactive')">Set to 'Inactive'</button>
    <button class="btn btn-default" (click)="statusChange('Unknown')">Set to 'Unknown'</button>
  </div>
</div>
